html, body {
  height: 100%;
  overflow: hidden;
  font:100% Verdana,Tahoma,Arial,sans-serif;
  margin: 0;
}

body * {
  box-sizing: border-box;
}

.header {
  /*font-size: 30px;*/
  height: 50px;
  background: #ccc;
  padding: 0px 0px;
  /*font-weight: bold;*/
  display: flex;
}

.body {
  padding: 0px;
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  font-size: 0.7em;
}

.sidebar {
  padding: 0px 5px;
  padding: 0px 0px;
  background: #fbfbfb;
  flex: 0 0 360px 1000px;
  overflow: auto;
}

.side-header {
  margin: 0px 0px;
  padding: 5px;
  background: #bbb;
  /*color: #fff;*/
  font-size: 18px;
  font-weight: bold;
}

.side-main {
  padding: 5px 5px;
  background: #fbfbfb;
  /*overflow: auto;*/
}



.main {
  flex: 1;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.page-header {
  padding: 5px 5px;
  background: #ddd;
  color: #fff;
  font-size: 1.0em;
}

.content {
  padding: 5px;
  flex: 1 1;
  overflow: auto;
}

@media screen and (max-width: 900px) { 
  .body {flex-direction: column;} 
  .main {width: 100vw; min-height: 60vh;}
  .sidebar {height: 100%;}
}

.center {
  text-align: center;
}






/* https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp */
/* Navbar container */
/*.side-header {
  overflow: hidden;
  background: #bbb;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}*/

/* Links inside the navbar */
.header .titlebar {
  flex: 1;
  float: left;
  font-size: 24px;
  font-weight: bold;
  padding: 11px 10px;
  /*background-color: blue;*/
}

/* Links inside the navbar */
.header .menubar {
  float: right;
}

/* Links inside the navbar */
.header a {
  font-weight: normal;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 24px;
  color: inherit;
  border: none;
  outline: none;
  padding: 11px 20px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a grey background color to navbar links on hover */
.header a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  right: 0;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: -8px 16px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* https://freefrontend.com/css-select-boxes/ */
/* Reset Select */
.dropdown-content select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background:  #f9f9f9;
  background-image: none;
}
.dropdown-content select {
  padding: 0em 0em;
  font-size: 14px; 
  cursor: pointer;
  background: none;
}

/* Links inside the dropdown */
.dropdown-content button, .dropdown-content a, .dropdown-content div {
  float: none;
  color: black;
  text-decoration: none;
  font-size: 14px; 
  display: block;
  text-align: left;
  outline: 0px; 
  border:none;
  padding: 5px 5px;
  background: none;
  cursor: pointer;
  line-height: 15px;
  vertical-align: middle;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content button:hover, dropdown-content a:hover, .dropdown-content div:hover, .dropdown-content .select:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}







/* Remove the input number arrows */
/* Chrome, Safari, Edge, Opera */
.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}
/* Firefox */
.no-spin {
    -moz-appearance:textfield !important;
}

/* Remove the input number arrows */
/* Chrome, Safari, Edge, Opera */
/*input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}*/

/* Firefox */
/*input[type=number] {
  -moz-appearance: textfield;
}*/

/*
.content {
  height: 70%;
}
.left {
  float: left;
  width: 70%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: 0.5em;
}
.right {
  float: left;
  width: 30%;
  background: white;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: 0.5em;
}
*/

/* https://www.w3schools.com/howto/howto_css_modals.asp */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  max-width: 700px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-small {
  width: 400px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

